:root {
  --color00: #ffffff;
  --color01: #860A35;
  --color02: #AF2655;
  --color03: #A3B763;
  --color04: #F3F3F3;
}

*{
    color: var(--color01);
}

body {
  background-color: var(--color03);
  box-sizing: border-box;
}

.cabecalho{
    font-size: small;
}
.cabecalho__menu{
    display: flex;
    gap: 20px;
    justify-content: flex start;
}
.cabecalho__menu__link{
    font-size: 20px;
    font-weight: 600;
    color: var(--color01);
    text-decoration: none;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 20%;
    gap: 5px;
}

.foto {
    display: flex;
    align-self: flex-start;
    gap: 5px;
}

.titulo {
    text-align: center;
    text-decoration: underline;
}

.texto {
    color: #AF2655;
    display: flex;
    flex-direction: column;
}

.principal_botoes {
    padding: 5px;
    margin: 0px 150px;
    display: flex;
    flex-direction: column;
}

.button{
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border: none;
    color: var(--color04);
    background-color: var(--color01);
    border-radius: 10px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.button:hover {
  background-color: var(--color02);
  color: var(--color04);
}